h1 {
  color: pink;
  text-align: center;
  padding: 12px;
  width: 45%;
  margin: auto;
  border: 5px solid black;
  border-radius: 20px;
<<<<<<< HEAD
  color: blue;
=======
  color: red;
>>>>>>> feature/v4
}

p {
  text-align: center;
  background-color: salmon;
  color: white;
}
